html, body {
  height: 100%;
}

img{
  width: auto;
  height: auto;
  opacity: 0.2;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.nav > navmenu-nav li:hover> a{
  color:blue;
}


.navmenu-brand:hover{
 color:blue;
}

#nav navmenu-menu{
  color:blue;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
  .canvas {
    padding: 0;
  }
}
